@import "tailwindcss";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

/* Registra el plugin de HeroUI */
@plugin "./hero.ts";
/* Esto obliga a Tailwind a obedecer a nuestro botón y no al sistema */
@custom-variant dark (&:where(.dark, .dark *));

/* Esto le dice al navegador: por defecto, mi web es CLARA */
:root {
  color-scheme: light;
}

/* @source "../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}"; */
@layer base {
  /* Forzamos a que Tailwind genere los colores de HeroUI aunque no los vea */
  .bg-success-50 { background-color: var(--heroui-success-50); }
  .bg-danger-50 { background-color: var(--heroui-danger-50); }
  .bg-primary-50 { background-color: var(--heroui-primary-50); }
}